.App-logo {
  max-width: 80px;
  display: block;
  margin: 10px auto;
}

.App {
  font-family: "Inter", sans-serif;
}

.Dictionary-header {
  background-color: #eafcfc;
  margin: 0;
  padding: 60px 20px;
  text-align: center;
}

.Dictionary h1 {
  font-size: 60px;
  line-height: 1.5;
  font-family: "Comfortaa", sans-serif;
}

.Dictionary h2 {
  font-size: 25px;
  line-height: 1.5;
}

.Dictionary .Search {
  color: #333;
  padding: 5px 5px 5px 12px;
  width: 60%;
  max-width: 400px;
  border-radius: 5px;
  border: solid 1px rgba(2, 177, 186, 1);
  margin: 0 5px;
  line-height: 2;
  font-size: 18px;
}

.Dictionary .Submit {
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: solid 1px rgba(2, 177, 186, 1);
  line-height: 2;
  background-color: rgb(2, 177, 186);
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

.Dictionary .Submit:hover {
  background-color: rgb(2, 209, 220);
}

.WordContent {
  padding: 40px 40px 0;
  max-width: 800px;
}

.WordContent .Word {
  font-size: 40px;
}

.Meanings .indvMeanings {
  border: solid 1px rgba(2, 177, 186, 0.4);
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}

.Meanings .Definition {
  font-size: 18px;
}

.Meanings .Example {
  font-size: 16px;
}

.Synonyms p {
  display: inline-block;
  padding-right: 12px;
}

.PhotoContainer {
  max-width: 720px;
  display: block;
  margin: 20px auto;
  border: solid 1px rgba(2, 177, 186, 0.4);
  border-radius: 5px;
}

footer {
  font-size: 13px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .Dictionary h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  .Dictionary h2 {
    font-size: 20px;
    line-height: 1;
  }

  .Dictionary .Search {
    padding: 5px;
    line-height: 1.5;
    font-size: 16px;
  }

  .Dictionary .Submit {
    padding: 5px 15px;
    line-height: 1.5;
    font-size: 16px;
  }

  .Meanings .Definition {
    font-size: 16px;
  }

  .Meanings .Example {
    font-size: 14px;
  }

  .PhotoContent {
    margin-bottom: 30px;
  }
}
