.App-logo {
  max-width: 80px;
  display: block;
  margin: 10px auto;
}

.App {
  font-family: "Inter", sans-serif;
}

.Dictionary-header {
  background-color: #eafcfc;
  margin: 0;
  padding: 80px 20px;
  text-align: center;
}

.App h1 {
  font-size: 55px;
  line-height: 1.5;
}

.App h2 {
  font-size: 25px;
  line-height: 1.5;
}

.App .Word {
  font-size: 20px;
}

.indvMeanings {
  border: solid 1px black;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.WordContent {
  padding: 40px;
  max-width: 800px;
}

footer {
  font-size: 13px;
  text-align: center;
}

footer a {
  text-decoration: none;
}
